.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 10px; /* Espacio entre los elementos de la cuadrícula */
    width: 85%;
    margin: auto;
    padding-bottom: 30px;
  }

  .titleCart{
    text-align: center;
    padding-top: 70px;
    font-size: 2rem;
    font-weight: 800;
  }
  