.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 10px; /* Espacio entre los elementos de la cuadrícula */

    padding-bottom: 30px;
    width: 70%;
    margin: auto;
  }

  .titleCart{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
  }
  